<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/basic.css">
</head>
<body>
    <h3 class="title">静态资源中间件 koa-static</h3>
    <img src="images/p.jpg" alt="">
    <img src="images/b.jpg" alt="">
    <form action="/doAdd" method="post">
        用户名: <input type="text" name="username"/>
        <br/>
        <br/>
        密　码: <input type="password" name="password"/>
        <br/>
        <br/>
        <button type="submit">提交</button>
    </form>

</body>
</html>